# ==========================================
# root / monorepo settings
# ==========================================
# Dependencies
node_modules/
.pnp
.pnp.js

# Environment variables
.env
.env.local
.env.development.local
.env.test.local
.env.production.local
*.env

# SQL & Database Dumps (very important for migration!)
*.sql
*.sqlite
*.sqlite3
dorn_db.sql

# IDE & OS
.vscode/
.idea/
.DS_Store
Thumbs.db
*.swp
*.swo

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*


# ==========================================
# Next.js (Frontend)
# ==========================================
frontend/.next/
frontend/out/
frontend/build/
*.tsbuildinfo
next-env.d.ts


# ==========================================
# Strapi v5 (Backend)
# ==========================================
backend/build/
backend/dist/
backend/.cache/
backend/.tmp/
backend/public/uploads/


# ==========================================
# Docker & CI
# ==========================================
docker-data/
*.pem
*.cert
*.cer

